[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "xergm.common"]
	path = xergm.common
	url = https://github.com/cran/xergm.common
